.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: var(--spacing);
}

.intro img {
  order: 1;
  border-radius: var(--border-radius-image);
}

@media (min-width: 500px) {
  .intro {
    flex-direction: row;
  }

  .intro img {
    max-width: var(--max-width-image);
  }
}